.OrderBook {
  background-color: #1b262d;
  margin: 20px;
}

.OrderBook-header {
  font-size: 14px;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #555;
  color: #c4c7c9;
}

.OrderBook-header .header {
  color: white;
}

.OrderBook-container {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}

.bidsGrid {
  padding-left: 10px;
  margin-right: 1px;
}

.asksGrid {
  padding-right: 10px;
  margin-left: 1px;
}
