.Ticker {
  background-color: #1b262d;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  font-size: 20px;
}

.Ticker-logo {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  background: url('https://www.bitfinex.com/assets/BTC-alt-1ca8728fcf2bc179dfe11f9a0126bc303bee888bff8132c5ff96a4873cf9f0fb.svg');
  -webkit-filter: saturate(0) brightness(180%);
  filter: saturate(0) brightness(180%);
  width: 40px;
  height: 40px;
  display: block;
  padding-top: 2px;
  margin-left: 10px;
}

.Ticker-row {
  opacity: 0.75;
  font-size: 12px;
  height: 5px;
}

.Ticker td {
  padding: 0px;
}

.redText {
  color: #aa6064;
}

.greenText {
  color: #7a9c4a;
}
